body{background-color: beige;}
h1{color:olivedrab;}
h3{color:darkolivegreen}
h1{background-color:rgb(225, 242, 248);}
span {font-size: 30px;}
span {color:blue}
table{
    margin-left:auto;
    margin-right:auto;}
